:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #4723d9;
  --first-color-light: #afa5d9;
  --white-color: #f7f6fb;
  --normal-font-size: 1rem;
  --var-padding: 10px;
  --z-fixed: 100;
}
.logo {
  width: 68px;
  height: 68px;
  background: url("../Icons/PNG/main-logo-white-transparent.png") no-repeat
    center / cover;
  background-size: 145%;
}
a {
  text-decoration: none;
}
.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  transition: 0.5s ease-in-out;
  z-index: var(--z-fixed);
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.5);
}
.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}
.nav_logo {
  margin-bottom: 2rem;
}
.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}
.nav_logo-name {
  color: var(--white-color);
  font-weight: 700;
}
.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: 0.3s;
}
.nav_link:hover {
  color: var(--white-color);
}
.nav_icon {
  font-size: 1.25rem;
  margin-right: 7px;
}
.show_nav {
  left: 0;
}
.active {
  color: var(--white-color);
}
.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 5px;
  height: 40px;
  border-radius: 0 50px 50px 0;
  background-color: var(--white-color);
}
.height-100 {
  height: 100vh;
}
.header-logo {
  width: 45px;
  height: 45px;
  background: url("../Icons/PNG/main-logo-white-transparent.png") no-repeat
    center / cover;
  background-size: 180%;
}
main.dashboard header {
  align-items: center;
  padding: var(--var-padding);
  transition: all 0.5s ease-in-out;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
main.dashboard {
  transition: 0.5s ease-in-out;
}
header.open {
  padding-left: 85px;
}
header > .bi,
header > * > .bi {
  font-size: 1.5rem;
}
header .dropdown-menu .bi {
  padding-right: 7px;
}
.main-view {
  display: grid;
  padding: var(--var-padding);
  gap: var(--var-padding);
  grid-template-columns: repeat(4, 1fr);
}
.toolbox-container {
  display: grid;
  grid-column: 1 / -1;
  grid-row: span 3;
  justify-items: center;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  padding: var(--var-padding);
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  & .bi {
    margin-right: var(--var-padding);
  }
  & .head {
    grid-column: 1 / -1;
  }
  & a {
    grid-column: span 2;
  }
}
@media screen and (min-width: 630px) {
  .toolbox-container {
    grid-column: span 2;
    padding: var(--var-padding) calc(var(--var-padding) + 0.5rem);
    & .head {
      grid-column: span 2;
      margin-bottom: var(--var-padding);
    }
    & a {
      grid-column: span 1;
    }
  }
}
@media screen and (min-width: 768px) {
  .toolbox-container {
    justify-items: center;
    padding: var(--var-padding) calc(var(--var-padding) + 0.5rem);
    & .head {
      grid-column: span 2;
      margin-bottom: var(--var-padding);
    }
  }
  main.dashboard {
    padding-left: calc(var(--nav-width));
  }
  .l-navbar {
    left: 0;
  }
  main.dashboard header.open {
    padding-left: 166px;
  }
  .show_nav {
    width: calc(var(--nav-width) + 156px);
  }
}
